body {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {

    background: linear-gradient(to right, #667eea, #764ba2, #fa1b07);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 100px 100px rgba(36, 2, 254, 0.1);
    width: 400px;
    height: 250px;
}

.input-box {
    border: rgb(15, 11, 11) 2px solid;
    padding: 20px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
}

.password {
    border: none;
    outline: none;
    font-size: 26px;
    background: transparent;
    color: white;

}

.fa-solid {

    cursor: pointer;
    opacity: .3;

}

.fa-solid:hover {
    opacity: 1;
}

.generate {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: rgb(15, 11, 11) 2px solid;
    border-radius: 5px;
    background: transparent;
    color: rgb(253, 252, 252);
    font-size: 16px;
    cursor: pointer;
}
.copied {
    position: fixed;
    width: 350px;
    height: 60px;
    background: linear-gradient(to right, #667eea, #764ba2, #fa1b07);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: white;
    right: -400px;
    bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: 0.4s ease;
    padding: 10px;
    text-align: center;
}

.copied.active {
    right: 20px;
}
.container {
  width: 400px;
        height: 250px;
}
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
   width: 400px;
        height: 250px;
        padding: 25px;
    }

    h2 {
        font-size: 22px;
        text-align: center;
    }

    .password {
        font-size: 17px;
    }
}
@media (min-width: 1025px) {
    .container {
        width: 400px;
        height: 250px;
    }

    h2 {
        font-size: 24px;
    }

    .password {
        font-size: 18px;
    }
}
